.row {
    width: 100%;
    margin: .25em .25em 1.25em .25em;
    display: flex;
    flex-wrap: wrap;
}

.col {
    &.col-2 {
        width: 20%;
    }

    &.col-6 {
        width: 50%;
    }

    &.col-10 {
        width: 80%;
    }
}