progress {
    color: $azure-blue;
    border-radius: 10px;
    height: .35em;

    &::-moz-progress-bar {
        background: $azure-blue;
    }

    &::-webkit-progress-value {
        background: $azure-blue;
    }
}