$body-background: #f0f0f0;
$card-background: #ffffff;

$icon-background: #e6e6e6;
$icon-color: #000000;

$badge-color: #ffffff;
$info-badge-background: #00aec0;
$success-badge-background: #28a645;
$error-badge-background: #db3445;

$progress-bar-fill: #00aec0;

$main-font-color: #0e0e0e;
$small-font-color: #9d9d9d;